In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

In [2]:
#df_test = pd.read_csv('./data/raw/test.csv',parse_dates=['click_time'], nrows=1000000)
df_test = pd.read_csv('./data/raw/test.csv',parse_dates=['click_time'])

In [3]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18790469 entries, 0 to 18790468
Data columns (total 7 columns):
click_id      int64
ip            int64
app           int64
device        int64
os            int64
channel       int64
click_time    datetime64[ns]
dtypes: datetime64[ns](1), int64(6)
memory usage: 1003.5 MB

In [4]:
df_test.head()

   click_id      ip  app  device  os  channel          click_time
0         0    5744    9       1   3      107 2017-11-10 04:00:00
1         1  119901    9       1   3      466 2017-11-10 04:00:00
2         2   72287   21       1  19      128 2017-11-10 04:00:00
3         3   78477   15       1  13      111 2017-11-10 04:00:00
4         4  123080   12       1  13      328 2017-11-10 04:00:00

In [5]:
df_test['hour'] = df_test['click_time'].dt.hour

df_test = df_test.sort_values(['ip', 'click_time'])
df_test['ip_time_diff'] = df_test['click_time'].diff().dt.seconds
df_test.loc[df_test.ip != df_test.ip.shift(), 'ip_time_diff'] = -1

df_test = df_test.sort_values(['ip', 'app','device','os','channel', 'click_time'])
df_test['all_time_diff'] = df_test['click_time'].diff().dt.seconds
df_test.loc[df_test.channel != df_test.channel.shift(), 'all_time_diff'] = -1

In [6]:
df_test.head()

,click_id,ip,app,device,os,channel,click_time,hour,ip_time_diff,all_time_diff
2890381,2890381,0,0,0,0,101,2017-11-10 04:51:27,4,-1.0,-1.0
3036280,3036280,0,0,0,0,101,2017-11-10 04:54:10,4,163.0,163.0
3055962,3055961,1,10,1,7,113,2017-11-10 04:54:32,4,-1.0,-1.0
12491273,12491273,2,1,1,13,371,2017-11-10 13:03:16,13,0.0,-1.0
12491143,12491143,2,3,1,13,371,2017-11-10 13:03:16,13,1.0,0.0

In [7]:
df_test['ip_count'] = df_test.groupby('ip')['ip'].transform('count')
df_test['all_count'] = df_test.groupby(['ip', 'app','device','os','channel'])['ip'].transform('count')

In [8]:
df_test.head()

,click_id,ip,app,device,os,channel,click_time,hour,ip_time_diff,all_time_diff,ip_count,all_count
2890381,2890381,0,0,0,0,101,2017-11-10 04:51:27,4,-1.0,-1.0,2,2
3036280,3036280,0,0,0,0,101,2017-11-10 04:54:10,4,163.0,163.0,2,2
3055962,3055961,1,10,1,7,113,2017-11-10 04:54:32,4,-1.0,-1.0,1,1
12491273,12491273,2,1,1,13,371,2017-11-10 13:03:16,13,0.0,-1.0,5,1
12491143,12491143,2,3,1,13,371,2017-11-10 13:03:16,13,1.0,0.0,5,1

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18790469 entries, 2890381 to 16922809
Data columns (total 12 columns):
click_id         int64
ip               int64
app              int64
device           int64
os               int64
channel          int64
click_time       datetime64[ns]
hour             int64
ip_time_diff     float64
all_time_diff    float64
ip_count         int64
all_count        int64
dtypes: datetime64[ns](1), float64(2), int64(9)
memory usage: 1.8 GB

In [10]:
df_test.to_csv('./data/processed/test.csv', index=False)